.header {
    background-color: pink;
    color: aqua;
    padding: 2rem;
    margin-bottom: 1rem;
}

.nav-link {
    color: rgb(4, 248, 175);
    text-decoration: none;
    margin-right: .5rem;
    
}

.active {
    color: aqua;
    font-weight: bold;
}